@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
{
    box-sizing: border-box;
    margin:0;
    font-family:'Roboto';
}


input[type="text"],input[type="email"],input[type="password"]{
    max-width:2px;
    padding:2%;
    width:90%;
    margin:3%;
    box-shadow: 2px 2px 3px green   ;
}
.head{
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 3px green;
    font-size:30px;
    text-transform: uppercase;
    color:green;
    margin-bottom: 2%;    
}
#home{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
form{
    width:500px;
    border:none;
    box-shadow: 2px 2px 3px grey;
}
label{
    color:green;
    font-weight:bold;
    font-size:20px;
    margin-left:3%;
    margin-top: 1%;
}

.arrange{
    display:flex;
    margin-left:3%;    
}
input[type="checkbox"]{
    accent-color:green;
    padding:2%;
    font-size:5%;
}
.btn{
    background-color: green;
    text-align:center;
    color:white;
    border:none;
    border-radius:15px;
    font-size:14px;
    width:94%;
    padding:2%;
}
.btn:hover{
    background-color:white;
    border:1px solid green;

}
#login{
    color:green;
    text-decoration:none;
}
body{
    background-image:url('../4k-Storm.mp4');
}